body {
  margin: 0;
  padding: 2em;
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
}

.wrapper {
  margin: 0 auto;
  max-width: 999px;
}

h1 {
  margin-top: 0;
  font-size: 1.8em;
}
@media (max-width: 600px) {
  h1 {
    font-size: 1.4em;
  }
}

b {
  font-size: 1.15em;
  color: #c3260a;
}

ul {
  margin: 2em 0;
  padding: 0;
  list-style: none;
  counter-reset: index;
}

li {
  padding: 0.5em 0.8em;
}

li a {
  text-decoration: none;
  color: #888;
  opacity: 0;
  transition: 0.3s;
  outline: none;
  margin-left: -2.5em;
  padding: 0.5em 1.5em 0.5em 0.5em;
  font-weight: 600;
}

li:hover a,
li a:focus {
  opacity: 1;
}

li:after {
  counter-increment: index;
  content: counter(index);
  opacity: 0.15;
  transition: 0.3s;
  float: right;
}

li:hover:after {
  opacity: 1;
}

li:nth-child(2n + 1) {
  background: #f3f3f3;
}

li.next-event {
  background: #ffc7bc;
  font-weight: bold;
}

#disqus_thread {
  margin-top: 3em;
}
