body {
  margin: 0;
  padding: 3em 1.5em;
  font-family: Helvetica, Arial, sans-serif;
}
body.light {
  background: #fafafa;
  color: #333;
}
body.dark {
  background: #1d1d1d;
  color: #e6e6e6;
}

.light a {
  color: royalblue;
}
.light a:visited {
  color: darkblue;
}
.light a:hover,
.light a:focus {
  color: steelblue;
  text-decoration: none;
}
.dark a {
  color: cyan;
}
.dark a:visited {
  color: lightcyan;
}
.dark a:hover,
.dark a:focus {
  color: turquoise;
  text-decoration: none;
}

.theme-button {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  background: none;
  padding: 0;
  box-shadow: none;
  border-radius: 0;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: 0.9em;
  display: flex;
  align-items: center;
  cursor: pointer;
  opacity: 0.9;
  outline: none;
}
.theme-button:hover,
.theme-button:focus {
  opacity: 1;
}
.theme-button span {
  visibility: hidden;
  opacity: 0;
  transform: translateX(2em);
  transition: 0.2s ease all;
  font-size: 0.9em;
}
.theme-button:hover span,
.theme-button:focus span {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}
.theme-button svg {
  width: 2.4em;
  height: auto;
  transition: 0.2s ease all;
}
.light .theme-button svg {
  fill: #111;
}
.dark .theme-button svg {
  fill: #fff;
}
@media (min-width: 900px) {
  .theme-button {
    font-size: 1.3em;
  }
}

.become-patron-button {
  display: inline-block;
  background: rgb(232, 91, 70);
  padding: 0.5em 1.2em;
  border-radius: 2em;
  text-decoration: none;
  margin: 0 0.5em;
  outline: none;
}
.wrapper a.become-patron-button {
  color: white;
}
.become-patron-button:hover {
  background-color: rgb(231, 81, 59);
}
.light .become-patron-button:focus {
  box-shadow: 0 0 0 3px #333;
}
.dark .become-patron-button:focus {
  box-shadow: 0 0 0 3px #ddd;
}
.become-patron-button:before {
  content: '';
  display: inline-block;
  background: url('./patreon-logo.svg') no-repeat center;
  background-size: contain;
  width: 0.9em;
  height: 0.9em;
  margin: 0 0.5em 0 -0.1em;
}

.wrapper {
  margin: 0 auto;
  max-width: 1300px;
}

h1 {
  margin-top: 0;
  font-size: 1.6em;
}
h2 {
  margin-top: 0;
  font-size: 1.5em;
}
@media (min-width: 900px) {
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 1.8em;
  }
}

b {
  font-size: 1.15em;
}
.light b {
  color: #c3260a;
}
.dark b {
  color: #f9775f;
}

.schedule-wrapper section {
  margin: 3em 0;
}
@media (min-width: 900px) {
  .schedule-wrapper {
    display: flex;
    margin: 0 -20px;
  }
  .schedule-wrapper section {
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.schedule ul {
  margin: 2em 0;
  padding: 0;
  list-style: none;
  counter-reset: index;
}

.schedule li {
  padding: 0.5em 0.8em;
}

.schedule a {
  text-decoration: none;
  color: inherit;
  opacity: 0;
  transition: 0.3s;
  outline: none;
  margin-left: -2.5em;
  padding: 0.5em 1.5em 0.5em 0.5em;
  font-weight: 600;
}

.schedule li:hover a,
.schedule li a:focus {
  opacity: 0.5;
}

li:after {
  counter-increment: index;
  content: counter(index);
  opacity: 0.15;
  transition: 0.3s;
  float: right;
}

li:hover:after {
  opacity: 1;
}

.light li:nth-child(2n + 1) {
  background: rgba(0, 0, 0, 0.03);
}
.dark li:nth-child(2n + 1) {
  background: rgba(255, 255, 255, 0.03);
}

li.next-event {
  font-weight: bold;
}
.light li.next-event {
  background: #ffc7bc;
}
.dark li.next-event {
  background: #943928;
}

.browsehappy {
  font-size: 22px;
  font-weight: bold;
  border: 2px solid;
  padding: 20px;
}
.light .browsehappy {
  color: #c3260a;
}
.dark .browsehappy {
  color: #f9775f;
}