.light {
  --background-color: #fafafa;
  --text-color: #333;
  --link-color: royalblue;
  --link-color-hover: steelblue;
  --link-color-visited: darkblue;
  --bold-color: #c3260a;
  --icon-fill: #111;
  --patron-focus-shadow: #333;
  --schedule-row-background: rgba(0, 0, 0, 0.03);
  --next-event-background: #ffc7bc;
}
.dark {
  --background-color: #1d1d1d;
  --text-color: #e6e6e6;
  --link-color: orange;
  --link-color-hover: #e89f5e;
  --link-color-visited: #ffc457;
  --bold-color: #f9775f;
  --icon-fill: #fff;
  --patron-focus-shadow: #ddd;
  --schedule-row-background: rgba(255, 255, 255, 0.03);
  --next-event-background: #943928;
}

body {
  margin: 0;
  padding: 3em 1.5em;
  line-height: 1.5em;
  font-family: Helvetica, Arial, sans-serif;
  background: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
}
a:visited {
  color: var(--link-color-visited);
}
a:hover,
a:focus {
  color: var(--link-color-hover);
  text-decoration: none;
}

.theme-button {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  background: none;
  padding: 0;
  box-shadow: none;
  border-radius: 0;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: 0.9em;
  display: flex;
  align-items: center;
  cursor: pointer;
  opacity: 0.9;
  outline: none;
}
.theme-button:hover,
.theme-button:focus {
  opacity: 1;
}
.theme-button span {
  visibility: hidden;
  opacity: 0;
  transform: translateX(2em);
  transition: 0.2s ease all;
  font-size: 0.9em;
}
.theme-button:hover span,
.theme-button:focus span {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}
.theme-button svg {
  width: 2.4em;
  height: auto;
  transition: 0.2s ease all;
  fill: var(--icon-fill);
}
@media (min-width: 600px) {
  .theme-button {
    font-size: 1.3em;
  }
}

.become-patron-button {
  display: inline-block;
  background: rgb(232, 91, 70);
  padding: 0.5em 1.2em;
  border-radius: 2em;
  text-decoration: none;
  margin: 0 0.5em;
  outline: none;
}
.wrapper a.become-patron-button {
  color: white;
}
.become-patron-button:hover {
  background-color: rgb(231, 81, 59);
}
.become-patron-button:focus {
  box-shadow: 0 0 0 3px var(--patron-focus-shadow);
}
.become-patron-button:before {
  content: '';
  display: inline-block;
  background: url('./patreon-logo.svg') no-repeat center;
  background-size: contain;
  width: 0.9em;
  height: 0.9em;
  margin: 0 0.5em 0 -0.1em;
}

.wrapper {
  margin: 0 auto;
  max-width: 1300px;
}

h1 {
  margin-top: 0;
  font-size: 1.6em;
}
h2 {
  margin-top: 0;
  font-size: 1.5em;
}
@media (min-width: 900px) {
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 1.8em;
  }
}

b {
  font-size: 1.15em;
  color: var(--bold-color);
}

.news h2 {
  display: inline-block;
  font-size: 0.9em;
  margin: 0 0.4em 0 0;
  text-transform: uppercase;
}
.news ul {
  margin: 0;
  padding-left: 1.5em;
}
.news.hide ul {
  display: none;
}
.news li {
  font-size: 0.85em;
  margin: 0.5em 0;
  opacity: 0.9;
}
time {
  font-weight: bold;
}

.schedule-wrapper section {
  margin: 3em 0;
}
@media (min-width: 1100px) {
  .schedule-wrapper {
    display: flex;
    margin: 0 -20px;
  }
  .schedule-wrapper section {
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.schedule ul {
  margin: 2em 0;
  padding: 0;
  list-style: none;
  counter-reset: index;
}

.schedule li {
  display: flex;
  padding: 0.5em 0.8em;
}
.schedule li:nth-child(2n + 1) {
  background: var(--schedule-row-background);
}

.anchor {
  text-decoration: none;
  color: inherit;
  opacity: 0;
  transition: 0.3s;
  outline: none;
  margin: -0.5em 0 -0.5em -2.5em;
  padding: 0.5em 1.5em 0.5em 0.5em;
  font-weight: 600;
}
li:hover .anchor,
.anchor:focus {
  opacity: 0.5;
  color: inherit;
}
li .anchor:hover {
  opacity: 1;
  color: inherit;
}

.schedule li span {
  flex: 1;
}

.form-link {
  text-decoration: none;
  opacity: 0.05;
  transition: 0.3s;
  outline: none;
  font-weight: 600;
  font-size: 0.9em;
}
li:hover .form-link,
.form-link:focus {
  opacity: 1;
}
@media (max-width: 500px) {
  .form-link {
    font-size: 0;
    opacity: 0.2;
  }
  .form-link:before {
    content: '✏️';
    font-size: 12px;
  }
}

.schedule li:after {
  counter-increment: index;
  content: counter(index);
  opacity: 0.15;
  transition: 0.3s;
  width: 2em;
  text-align: right;
}
.schedule li:hover:after {
  opacity: 1;
}

li.next-event {
  font-weight: bold;
  background: var(--next-event-background);
}

.announcement,
.warning {
  border: 1px solid;
  padding: 1em;
}
.warning {
  border-width: 2px;
  font-weight: bold;
  padding: 1.5em;
  font-size: 1.1em;
  color: var(--bold-color);
}
.browsehappy {
  font-size: 1.3em;
}